@layer base {
  @font-face {
    font-family: Gilroy-Med;
    src: url(../assets/fonts/Gilroy-Medium.otf) format("opentype");
  }
  @font-face {
    font-family: Gilroy-Bold;
    src: url(../assets/fonts/Gilroy-Bold.otf) format("opentype");
  }
  @font-face {
    font-family: Gilroy-Light;
    src: url(../assets/fonts/Gilroy-Light.otf) format("opentype");
  }
  @font-face {
    font-family: Gilroy-SemiBold;
    src: url(../assets/fonts/Gilroy-SemiBold.otf) format("opentype");
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
